@{
    Layout = "_Layout";
}

<h1>Eau Claire's Back of House Organizer</h1>
<h3><p>@Html.ActionLink("See all clients", "Index", "Clients")</p></h3>
<h3><p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p></h3>
