@{
    Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new client to list</h4>
@using (Html.BeginForm())
{

    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    // Add Stylist list drop down for creating a new client profile

    <input type="submit" value="Add new client" class="btn btn-default"/>
}
<p>@Html.ActionLink("Back to client list", "Index")</p>
